mat-card{
    
    mat-card-header{
        display: block;
        font-size: medium;
        font-weight: bold;
    }

    mat-card-content{
        padding-top: 1rem;
        font-size: medium;
        
    }
}