mat-grid-list {
    margin: 2rem;

    mat-grid-tile {
        div {
            display: grid;
            width: 90%;
            height: 90%;
            background-color: whitesmoke;
            vertical-align: middle;
            text-align: center;
            border-radius: 25px;
        }

        div.descriptionDiv {
            span {
                margin-top: 1rem;
            }
        }

        div.autorDiv {
            padding: 1rem;
        }

        div.structureDiv {
            justify-content: center;

            div {
                font-weight: 700;

                div {
                    font-weight: 500;
                    padding-left: 2rem;

                    div {
                        font-weight: 300;
                        padding-left: 2rem;
                    }
                }
            }
        }

        div.startDiv {
            align-content: center;
            justify-content: center;
        }

        a {
            text-decoration: none;
            color: black;
            font-weight: 500;
        }
    }
}
