<div>
    <a routerLink="/albums">
        <mat-icon color="primary"> arrow_back_ios </mat-icon>
    </a>
    <h1> Photos </h1>
    <mat-grid-list cols="4">
        <mat-grid-tile *ngFor="let photo of photos$ | async">
            <mat-list>
                <mat-list-item>
                    <mat-grid-list cols="5" rowHeight="1:2">
                        <mat-grid-tile>
                            <mat-icon> photo </mat-icon>
                        </mat-grid-tile>
                        <mat-grid-tile class="photoTitle" [colspan]="4"> 
                                {{photo.title}}
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-list-item>
                <mat-list-item class="content">
                    <img src="{{photo.thumbnailUrl}}">
                </mat-list-item>
                <mat-list-item>
                    <button mat-flat-button color="primary"
                        (click)="photoDialog(photo.url)">
                        High Resolution
                    </button>
                </mat-list-item>
            </mat-list>
        </mat-grid-tile>
    </mat-grid-list>
</div>