div {
    margin: 2rem;

    h1 {
        text-align: center;
        font-weight: bold;
    }

    mat-grid-list {
        mat-grid-tile {
            .photoTitle {
                white-space: normal;
                font-size: small;
            }
            mat-list {
                background-color: whitesmoke;
                width: 85%;
                text-align: center;
                margin: 2rem;

                mat-list-item {
                    height: 100%;

                    mat-icon {
                        vertical-align: middle;
                    }

                    .content {
                        width: 50%;
                    }
                }
            }
        }
    }
}
