.container {
    padding: 2rem;
    font-size: 1.5rem;

    mat-icon {
        vertical-align: middle;
    }

    mat-grid-tile {
        mat-list {
            padding: 2rem;
            border-radius: 2rem;
            background-color: whitesmoke;
            text-align: center;

            :first-child {
                span {
                    font-weight: bold;
                    font-size: larger;
                }
            }
        }

        button{
            margin: 1rem;
        }
    }
}
